# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: false

    http_client:
        default_options:
            headers:
                'Accept': 'application/json'
                'Content-Type': 'application/json'

        scoped_clients:
            programme_client:
                headers:
                    'User-Agent': 'Denis Internship'
                base_uri: https://evozon-internship-data-wh.herokuapp.com/api/

            smsNotification_client:
                headers:
                    X-API-KEY: '%env(SMS_NOTIFICATION_API_KEY)%'
                    User-Agent: 'Denis Internship'
                base_uri: '%env(SMS_NOTIFICATION_BASE_URI)%'


    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
