monolog:
    channels:
        - programme
        - user
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
        - smsNotification

when@dev:
    monolog:
        handlers:
            programme:
                level: debug
                type: stream
                formatter: 'monolog.formatter.json'
                path: '%kernel.logs_dir%/programme.log'
                channels: [ programme ]
            user:
                level: debug
                type: stream
                formatter: 'monolog.formatter.json'
                path: '%kernel.logs_dir%/user.log'
                channels: [ user ]

            smsNotification:
                level: debug
                type: stream
                formatter: 'monolog.formatter.json'
                path: '%kernel.logs_dir%/sms_notification.log'
                channels: [ smsNotification ]

            smsNotification:
                level: debug
                type: stream
                formatter: 'monolog.formatter.json'
                path: '%kernel.logs_dir%/sms_notification.log'
                channels: [ smsNotification ]

            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event", "!programme", '!user']

            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console", "!programme", '!user']

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: stream
                path: php://stderr
                level: debug
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
