{% extends "base.html.twig" %}

{% block body %}
    <section class="flex flex-col w-full h-screen items-center justify-center bg-gray-100">
    {{ form_start(form, {attr: {'class': 'flex flex-col w-96 min-w-md py-6 px-8 border border-gray-100 bg-white rounded-lg shadow-lg'}}) }}
        {{ form_widget(form) }}

        <a class="mt-6 font-light text-blue-600" href="{{ path('app_auth_resetpasswordrequest') }}">Forgot password?</a>
    {{ form_end(form) }}
    </section>
{% endblock %}