# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            $programmeMinTimeInMinutes: '%env(PROGRAMME_MIN_TIME_IN_MINUTES)%'
            $programmeMaxTimeInMinutes: '%env(PROGRAMME_MAX_TIME_IN_MINUTES)%'


    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Controller\:
        resource: '../src/Controller/'
        tags: [ 'controller.service_arguments' ]

    App\Controller\ArgumentResolver\ProgrammeFilterArgumentResolver:
        tags:
            - { name: controller.argument_value_resolver, priority: 50 }

    App\Encryption\EncryptionInterface $caesarEncryption: '@App\Encryption\CaesarEncryption'
    App\Encryption\CaesarEncryption:
        bind:
            $programmeImportApiEncryptionKey: '%env(PROGRAMME_IMPORT_API_ENCRYPTION_KEY)%'

    App\Controller\Dto\DtoInterface $userDto: '@App\Controller\Dto\UserDto'
    App\Controller\Dto\DtoInterface $programmeDto: '@App\Controller\Dto\ProgrammeDto'