parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $programmeMinTimeInMinutes: '%env(PROGRAMME_MIN_TIME_IN_MINUTES)%'
            $programmeMaxTimeInMinutes: '%env(PROGRAMME_MAX_TIME_IN_MINUTES)%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: [ 'controller.service_arguments' ]

    App\Controller\ArgumentResolver\:
        resource: '../src/Controller/ArgumentResolver/'
        tags:
            - { name: controller.argument_value_resolver, priority: 50 }

    App\Encryption\EncryptionInterface $caesarEncryption: '@App\Encryption\CaesarEncryption'
    App\Encryption\CaesarEncryption:
        bind:
            $programmeImportApiEncryptionKey: '%env(PROGRAMME_IMPORT_API_ENCRYPTION_KEY)%'

    App\Controller\Dto\DtoInterface $userDto: '@App\Controller\Dto\UserDto'
    App\Controller\Dto\DtoInterface $programmeDto: '@App\Controller\Dto\ProgrammeDto'