{% extends "base.html.twig" %}

{% block body %}
    Hello {{ email.toName }},

    You can reset your password by accessing the following this <a href="{{ resetLink }}">reset password</a> link.
{% endblock %}